<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2 class="logo"></h2>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/home">Book slot</a>
            <a href="/admin">Admin</a>
        </nav>
    </header>
    <div class="wrapper">

        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                    <input type="text" id="name" name="name" placeholder="UserName">
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="password" name="password" placeholder="Password">  
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="call"></ion-icon></span>
                    <input type="tel" name="phone" id="phone" placeholder="Phone Number">
                </div>
                {{!-- <div class="remember-forget">
                    <label>
                    <input type="checkbox" >
                    Remember Me
                    </label>
                    <a href="#">Forget Password</a>
                </div> --}}
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an Account?
                    <a href="/signup" class="register-link">Create new Account</a></p>
                </div>
            </form>
           
        </div>
    </div>
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

    {{!-- <h2>Login</h2>
    <form action="/login" method="post">
    <input type="text" id="name" name="name" placeholder="UserName">    
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit">
    </form>
    <a href="/signup">Create new Account</a> --}}
</body>
</html>
