<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>SLOT ADD </h2>
    <form action="/slot/add" method="post">
    <input type="text" id="centerName" name="centerName" placeholder="center Name">    <br>
    <textarea rows="13" cols="20" type="text" id="centerAddress" name="centerAddress" placeholder="center address"> </textarea> <br> 
    <input type="number" name="available" id="available" placeholder="slots available"> <br>
    <input type="text" name="district" id="district" placeholder="district"> <br>
    <input type="text" name="state" id="state" placeholder="state"> <br>
    <input type="submit">
    </form>
    
</body>
</html>