<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{#each details}}
    {{!-- {{#if details.count}} --}}
        <a href="/user/show/{{_id}}">{{_id}}</a>
        <a href="/user/book/{{_id}}"><button>Booking</button></a>
    {{!-- {{/if}} --}}
     {{/each }}
</body>
</html> 